.env
__pycache__/
*.py[cod]
.venv
.DS_Store
.vscode/
!.flaskenv
init.sh
**/migrations/versions/*
cookies.txt

# Documentation files
**/*.md
/README.md
systemPrompt.md
.cursorindexingignore
.specstory
node_modules
.claude
react-vite/dist/*
dist
cookies.txt